@import url(https://fonts.googleapis.com/css?family=Roboto);

@font-face {
  font-family: Josefin Sans Bold;
  src: url(fonts/josefin-sans/JosefinSans-Bold.ttf);
}

@font-face {
  font-family: Josefin Sans Regular;
  src: url(fonts/josefin-sans/JosefinSans-Regular.ttf);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans Bold';
}

#output {
  padding: 20px;
  text-align: center;
}


body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.h-100 {
  height: 100%;
}

.main-container {
  position: relative;
  top: 30%;
}

.lab, .las {
  font-size: 35px;
  color: white;
}
